<!DOCTYPE html>
<html>
<head>
    <title>Telescopium</title>
    <link href="/public/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="T Project">
    <meta name="author" content="syney">
    <meta charset="utf-8">
</head>
<body>
        <div class="error-page container">
            <main id="content" class="error-container" role="main">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                        <div class="error-container">
                            <h1 class="error-code">404</h1>
                            <p class="error-info">
                                禁止入内！
                            </p>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="page-footer">
                Copyright &copy; 2016. All rights reserved.
            </footer>
        </div>
</body>
</html>
